[submodule "darknet"]
	path = darknet
	url = https://github.com/AlexeyAB/darknet
[submodule "NatureRemoController"]
	path = NatureRemoController
	url = https://github.com/mi83ki/nature-remo-controller.git
