[submodule "darknet"]
	path = darknet
	url = https://github.com/AlexeyAB/darknet
[submodule "appliance-controller"]
	path = appliance-controller
	url = https://gitlab.com/theme16-human-augmentation/theme16-appliance-controller.git
