[submodule "darknet"]
	path = darknet
	url = https://github.com/AlexeyAB/darknet
[submodule "applianceController"]
	path = applianceController
	url = https://gitlab.com/theme16-human-augmentation/theme16-appliance-controller.git
